*{
    margin:0;
    padding: 0;
    box-sizing: border-box; 	
}
body{
	margin: 0;
	min-width: 200px;
	background-color: brown;
}

ul{
	margin:0;
    padding: 0;
}

ul li{
    padding: 10px 5px 15px;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    transition: 0.3s; 
    color: white;
    font-weight: bold; 
}

ul li:hover{
	background-color: black;
}

ul li.myContent{
	position: absolute;
	border-color: #334756;
	border-style: solid;
	border-width: 0 2px 3px 0;
	top: 10px;
	left: 15px;
	transform: rotate(45deg);
	height: 15px;
	width: 10px; 
}
ul li.checked{
	background: #888;
	color: #fff;
	text-decoration: line-through;
}

ul li.checked::before{
	content: "";
	position: absolute;
	border=color: #fff;
	border-style: solid;
	border-width: 0n2px 3px 0;
	top: 10px;
	left: 15px;
	transform: rotate(45deg);
	height: 15px;
	width: 10px;
}
.close{
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px 15px 13px 15px;
}
.close:hover{
	background-color: #f44336;
	color: #ffffff;
}

.header{
	content: "";
	display: table;
	clear: both;
}

.header:after{
    content: "";
    display: table;
    clear: both;
}

input{
	margin: 0;
	border: none;
	border-radius: 0;
	width: 70%;
	padding: 10px;
	float: left;
	font-size: 15px;
}

.addBtn{
	padding: 10px;
	width: 25%;
	background-color: #7f5983;
	color: #cbffa9;
	float: left;
	text-align: center;
	font-size: 15px;
	cursor: pointer;
	transition: 0.2s;
	border-radius: 0;
}

.addBtn:hover{
	background-color: #f6abb6;
}